body { background:#0f172a; color:white; }

.app { display:flex; gap:40px; padding:20px; }

.building {
  position:relative;
  border:2px solid white;
  height:480px;
  width:220px;
}

.row {
  height:80px;
  border-bottom:1px solid #444;
}

.floor {
  display:flex;
  align-items:center;
  gap:10px;
}

.shaft {
  position:absolute;
  right:0;
  top:0;
  left: 400px;
  width:250px;
  height:480px;
  background-color: red;
}

.elevator {
  position: absolute;
  width: 79px;
  height: 80px;
  background: linear-gradient(135deg, #23272f 70%, #1e222a 100%);
  transition: transform .8s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  gap: 20px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.18);
}

.door.open { background:green; }
.door.closed { background:#333; }

.queue { border:1px solid white; padding:10px; }

.panelInside {
  position: absolute;
  bottom: 8px;
  left: 4px;
  display: grid;
  grid-template-columns: repeat(3, 18px);
  gap: 4px;
}

.panelInside button {
  width: 18px;
  height: 18px;
  font-size: 10px;
  background: #111;
  color: white;
  border: 1px solid #444;
  cursor: pointer;
}

.panelInside button:hover {
  background: #38bdf8;
}
