body { background:#0f172a; color:white; }

.app { display:flex; gap:40px; padding:20px; }

.building {
  position:relative;
  border:2px solid white;
  height:480px;
  width:220px;
}

.row {
  height:80px;
  border-bottom:1px solid #444;
}

.floor {
  display:flex;
  align-items:center;
  gap:10px;
}

.shaft {
  position:absolute;
  right:0;
  top:0;
  left: 400px;
  width:200px;
  height:480px;
  background-color: red;
}

.elevator {
  position:absolute;
  width:60px;
  height:60px;
  background:#1e293b;
  transition:transform .8s linear;
  display:flex;
  align-items:center;
  justify-content:center;
}

.door.open { background:green; }
.door.closed { background:#333; }

.queue { border:1px solid white; padding:10px; }
